<div class="table-responsive">
  <table class="table table-bordered">

    <thead>
      <tr>
        <th>Picture</th>
        <th>Description</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat='p in products | filter: searchTheName :p.name | filter: categories | orderBy: prices'>

        <td>
          <img class="img-rounded" style="width: 90%" ng-src='{{p.imageUrl}}'/>
        </td>

        <td>
          <span><h3 ng-bind='p.name'></h3>
          <button type="button" class='right btn-warning' ng-click='addToCart(quantity, p)'>Add To Cart</button> <select id="quantity" class='c-select quantityBox right' ng-model='quantity'>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select> <label for="quantity" class='right priceLabel'>Select a quantity</label>
          </span>
          <br>
          <span><h5><strong>Ingredients:</strong><br></h5><p> {{p.ingredients}}</p></span>

          <span><h5><strong>Price:</strong></h5><p> {{p.price/100 | currency}}</p>
          <h5><strong>Caffeine:</strong><br> {{p.caffeineScale}}</h5>
          <h5><strong>Available:</strong><br> <span ng-class='isInStock(p.inStock)'>{{h5.inStock | checkmark}}</span></h5>
          <h5><strong>Rating:</strong><br> {{p.rating}}</h5>
          <h5><strong>Types:</strong><br></h5>
          <ul>
            <li ng-repeat='p in p.categories'>{{p}}</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
